= render 'commons/header'

.container.text-center
    %h1.section-title.text-center お知らせ作成ページ

    = link_to new_admin_notification_path do 
        %button.btn.btn-outline-dark.btn-lg.login-page-btn.mb-5.w-100
            新しいお知らせを作る

    = render 'commons/notifications', notifications: @notifications
