- notifications.each do |notification|
    .notification-wrapper
        .notification-title  #{notification.title}  
        .notification-wrapper
            .notification-info  #{notification.created_at.strftime('%Y年%m月%d日 %H:%M')}  #{notification.user.displayname}
            - if can?  :update, current_user 
                - if current_page?(admin_notifications_path)
                    =link_to 'EDIT', edit_admin_notification_path(notification), class: "notification-info"
    %h4.notification-content= notification.content
