- notifications.each do |notification|
    %div.notification-wrapper
        .notification-title  #{notification.title}  
        .notification-info  #{notification.created_at.strftime('%Y年%m月%d日 %H:%M')}  #{notification.user.displayname}
        - if can?  :update, current_user 
            =link_to edit_admin_notification_path(notification) do
                %button.btn.btn-outline-dark EDIT
    %h4.notification-content= notification.content
