= render 'commons/header'

.container
    %h1.section-title.text-center Task

    %table.table-design
        %tr
            %th 内容
            %th 実施日
            %th 科目
            %th テキスト名
            %th ページ
            %th 状態
        -@tasks.each do |task|
            %tr
                %td 
                    =task.title 
                %td 
                    =task.testday.strftime('%m/%d')
                %td 
                    = I18n.t("enum.subjects.#{task.subject}")
                %td 
                    =task.source
                %td 
                    =task.detail
                %td
                    -if task.achievements.exists?(user_id: current_user)
                        済
                    -else
                        未

