= render 'commons/header'

.container
    %h1.section-title.text-center Task Progress

    %table.table-design
        %tr
            %th Title
            %th Date
            %th Subject
            %th Textbook
            %th Page
            %th Status
        -@tasks.each do |task|
            %tr
                %td 
                    =task.title 
                %td 
                    =task.testday.strftime('%m/%d')
                %td 
                    = I18n.t("enum.subjects.#{task.subject}")
                %td 
                    =task.source
                %td 
                    =task.detail
                %td
                    -if task.achievements.exists?(user_id: current_user)
                        済
                    -else
                        未

